<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Bookstore</title>
</head>
<body class="bg-light">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    $('#submitForm').submit(function (e) {
        var form = this;
        e.preventDefault();
        var title = document.getElementsByName("title").value;
        var author = document.getElementsByName("author").value;

        console.log(title + author);
        $.ajax({
            type: form.attr('method'),
            url: '/user?title=' + title + '&author=' + author + '&genre' + document.getElementById('genre').value,
            dataType: 'json',
            data: JSON.stringify(formData)
        })
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bookstore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Book list<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="py-5 text-center">
        <h2>Books</h2>
        <p class="lead">Here you can see a list of books from our shop</p>
    </div>

    <div class="col html-editor-align-center">
        <form id="submitForm" method="get" novalidate>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="title">Title</label>
                    <input id="title" name="title" class="form-control" placeholder=""
                           th:value="${title}">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="author">Author</label>
                    <input id="author" name="author" class="form-control" placeholder=""
                           th:value="${author}">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="genre">Genre</label>
                    <select id="mainSelector" name="genre" class="browser-default custom-select">
                        <option th:text="${genreSearch}"></option>
                        <option id="genre"
                                value=""
                                th:each="genre:${allGenres}"
                                th:value="${genre}"
                                th:text="${genre}"></option>
                    </select>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-5 mb-2">
                </div>
                <div class="col-md-2 mb-2">
                    <button class="btn btn-outline-info btn-lg btn-block" type="submit" value="Submit">Search
                    </button>
                </div>
                <div class="col-md-3 mb-2">
                </div>
                <div class="col-md-2 mb-2">
                    <a href="/user" class="btn btn-outline-dark btn-lg btn-block" role="button">Refresh filters
                    </a>
                </div>
            </div>
        </form>
    </div>


    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-justify">Title</th>
                <th class="text-justify">Genre</th>
                <th class="text-justify">Author</th>
                <th class="text-justify">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}" style="cursor: pointer"
                th:onclick="'javascript:rowClicked(\'' + ${book.id} + '\');'">
                <a th:href="@{~/edit_book(id=${book.id})}" aria-disabled="true">
                    <td class="align-middle"><span th:text="${book.title}"/></td>
                    <td class="align-middle"><span th:text="${book.showGenres()}"/></td>
                    <td class="align-middle"><span th:text="${book.showAuthors()}"/></td>
                    <td class="align-middle"><span th:text="${book.price}"/></td>
                </a>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
</div>
<script>
    function rowClicked(value) {
        location.href = "/book?id=" + value;
    }
</script>
</body>
</html>