<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Bookstore</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bookstore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Book list<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/orders">Order history<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--<form class="form-inline mt-2 mt-md-0">-->
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Введите текст" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>-->
        <!--</form>-->
    </div>
</nav>

<div class="container">

    <div class="py-5 text-center">
        <h2>Books</h2>
        <p class="lead">Here you can see a list of books from our shop</p>
    </div>


    <div class="row">
        <!--<div class="col">-->
        <!--<h2>Все клиенты:</h2>-->
        <!--</div>-->
        <div class="col col-lg-3">
            <a th:href="@{~/add_book}" class="btn btn-lg btn-block btn-outline-primary html-editor-align-right"
               role="button"
               aria-disabled="true">Add new book</a>
        </div>

    </div>

    <br/>

    <!--<div th:if="${message}" class="alert alert-success" role="alert">-->
    <!--<p th:text="${message}">success message</p>-->
    <!--</div>-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th class="text-justify">#</th>-->
                <th class="text-justify">Title</th>
                <th class="text-justify">Genre</th>
                <th class="text-justify">Author</th>
                <th class="text-justify">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}" style="cursor: pointer" th:onclick="'javascript:rowClicked(\'' + ${book.id} + '\');'">
                <a th:href="@{~/edit_book(id=${book.id})}" aria-disabled="true">
                    <td class="align-middle"><span th:text="${book.title}"/></td>
                    <td class="align-middle"><span th:text="${book.showGenres()}"/></td>
                    <td class="align-middle"><span th:text="${book.showAuthors()}"/></td>
                    <td class="align-middle"><span th:text="${book.price}"/></td>
                    <td class="align-middle">
                        <a th:href="@{~/edit_book(id=${book.id})}" class="btn btn-lg btn-block btn-outline-primary"
                           role="button"
                           aria-disabled="true">Edit</a>
                    </td>
                    <td class="align-middle">
                        <form action="#" th:action="@{~/delete_book(id=${book.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <button class="btn btn-lg btn-block btn-outline-primary" type="submit" id="submitButton">
                                Delete
                            </button>
                        </form>
                    </td>
                </a>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function rowClicked(value) {
        location.href = "/book?id=" + value;
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>